{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register for an Account</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    <!-- Check if we were redirected back to this page because of an error in the form. If so show each of the errors. If no errors exist show the username input textbox -->
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}                   
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    <!-- Check if we were redirected back to this page because of an error in the form. If so show each of the errors. If no errors exist show the password input textbox -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}  
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    
                    <!-- Check if we were redirected back to this page because of an error in the form. If so show each of the errors. If no errors exist show the confirm_password input textbox -->
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}  
                </div>
                <div class="form-group">
                    {{ form.first_name.label(class="form-control-label") }}
                    <!-- Check if we were redirected back to this page because of an error in the form. If so show each of the errors. If no errors exist show the first_name input textbox -->
                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}    
                </div>
                <div class="form-group">
                    {{ form.last_name.label(class="form-control-label") }}
                    <!-- Check if we were redirected back to this page because of an error in the form. If so show each of the errors. If no errors exist show the last_name input textbox -->
                    {% if form.last_name.errors %}
                        {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.last_name(class="form-control form-control-lg") }}
                    {% endif %}    
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <!-- Check if we were redirected back to this page because of an error in the form. If so show each of the errors. If no errors exist show the email input textbox -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}    
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock %}