{% extends "layout.html" %}

{% block title %}
US Travel Map
{% endblock %}

{% block style %}
    body {font-family: Arial, Helvetica, sans-serif;}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    } 

/***** PHOTO GRID *****/
    .photo-grid-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .photo-grid-col {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .photo-grid-col img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .photo-grid-col {
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .photo-grid-col {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }

/*****   DRAG AND DROP STUFF *****/
    #drop-region {
        background-color: #fff;
        border-radius:20px;
        box-shadow:0 0 35px rgba(0,0,0,0.05);
        width:400px;
        padding:60px 40px;
        text-align: center;
        cursor:pointer;
        transition:.3s;
    }
    #drop-region:hover {
        box-shadow:0 0 45px rgba(0,0,0,0.1);
    }
     
    #image-preview {
        margin-top:20px;
    }
    #image-preview .image-view {
        display: inline-block;
        position:relative;
        margin-right: 13px;
        margin-bottom: 13px;
    }
    #image-preview .image-view img {
        max-width: 100px;
        max-height: 100px;
    }
    #image-preview .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 2;
        background: rgba(255,255,255,0.5);
    }



{% endblock %}

{% block main %}
<p>
    This map can be used to track which states you've visited. Just click on a state to change it's color and indicate that you've been there. 
    If you make a mistake, just click on the state again to unmark it as a state you've visited. This information is stored on the website's database and is 
    linked to your user account. This way all of your progress is saved and next time you come back to this site you can pick up where you left off.

</p>
<!-- USING SVG FOR WEB APPS REFERENCES: --
    https://svgontheweb.com/
    https://www.sitepoint.com/add-svg-to-web-page/
    http://www.petercollingridge.co.uk/tutorials/svg/interactive/javascript/
-->
<object id="svg-map-object" type="image/svg+xml" data="{{url_for('static', filename='images/Map_US_States.svg') }}">
    <!-- Within the object tags you can add fallback text or images in case the web browser doesn't support the 'object' type. -->
    Your browser does not support SVG.
</object>

<div id="stateModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="stateName"></h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="modal-state-info" style="flex: 1 1 200px;">
                <div class="modal-state-outline" style="border-style: solid; border-width: 2px; border-color: red; border-collapse:collapse;">
                    <svg id="stateSvg" height="25vh" width="25vh" viewBox="0 0 200 200">
                        <path  d="" />
                        Sorry, your browser does not support inline SVG.
                      </svg>
                </div>
                <div class="modal-state-text" style="max-height: 50vh; overflow-y: auto; border-style: solid; border-width: 2px; border-color: red; border-collapse:collapse;">
                    <p>
                        Here will be some fun information about the state shown above. 
                       
                    </p>
                </div>
            </div>
            <div class="modal-state-photos" style="flex: 3 3 500px; max-height: 75vh; overflow-y: auto; border-style: solid; border-width: 2px; border-color: red; border-collapse:collapse;">
                <p> modal state photos</p>
                <div id="drop-region">
                    <div class="drop-message">
                        Drag & Drop images or click to upload
                    </div>
                    <div id="image-preview"></div>
                </div>
                <div class="photo-grid-row">
                    <div class="photo-grid-col">
                        <img src="{{url_for('static', filename='images/testImgs/01.jpg') }}" style="width:100%">
                        <img src="{{url_for('static', filename='images/testImgs/02.jpg') }}" style="width:100%">
                        <img src="{{url_for('static', filename='images/testImgs/03.jpg') }}" style="width:100%">
                    </div>

                    <div class="photo-grid-col">
                        <img src="{{url_for('static', filename='images/testImgs/04.jpg') }}" style="width:100%">
                        <img src="{{url_for('static', filename='images/testImgs/05.jpg') }}" style="width:100%">
                        <img src="{{url_for('static', filename='images/testImgs/06.jpg') }}" style="width:100%">
                    </div>

                    <div class="photo-grid-col">
                        <img src="{{url_for('static', filename='images/testImgs/07.jpg') }}" style="width:100%">
                        <img src="{{url_for('static', filename='images/testImgs/08.jpg') }}" style="width:100%">
                        <img src="{{url_for('static', filename='images/testImgs/09.jpg') }}" style="width:100%">
                    </div>

                    <div class="photo-grid-col">
                        <img src="{{url_for('static', filename='images/testImgs/10.jpg') }}" style="width:100%">
                        <img src="{{url_for('static', filename='images/testImgs/11.jpg') }}" style="width:100%">
                        <img src="{{url_for('static', filename='images/testImgs/12.jpg') }}" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>
</div>

{% endblock %}

{% block afterbody %}
    <script type="text/javascript">
        // https://flask.palletsprojects.com/en/1.1.x/patterns/jquery/#where-is-my-site
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        // Get the modal object and the object for closing the modal
        var stateModal = document.getElementById("stateModal");
        var stateModalCloseButton = document.getElementsByClassName("close")[0];
        var activeState = "";

        // When the user clicks on the icon to close the modal then close it.
        stateModalCloseButton.addEventListener('click', function(event){
            closeModal();
        });
        stateModal.addEventListener('click', function(event){
            // If the user clicked outside the modal, then close it.
            // Note: when the event target is "stateModel" it is considered outside the modal. Otherwise, the target will be something like "modal-content".
            console.log(event.target.id);
            if (event.target.id == "stateModal"){
                closeModal();
            }

            // TODO: Other events when user clicks inside the modal...

        });

        function closeModal(){
            stateModal.style.display = "none";
            activeState = "";
        }

        ///
        /// DRAG & DROP FUNCTIONALITY
        ///
        /// (  https://blog.soshace.com/the-ultimate-guide-to-drag-and-drop-image-uploading-with-pure-javascript/  )

        var dropRegion = document.getElementById("drop-region");    // HTML element defining region where photos can be drag & dropped.
        var imagePreviewRegion = document.getElementById("image-preview");  // HTML element within Drop Region which shows thumbnail previews of images being uploaded.

        // Use the Drop Region as a link to normal file upload dialog if it's clicked
        var fileInput = document.createElement("input");
        fileInput.type = "file";
        fileInput.accept = "image/*";       // Allows all image types. Could also be limited to 'image/png'
        fileInput.multiple = true;          // allows selecting multiple files
        dropRegion.addEventListener('click', function(){
            fileInput.click();
        });

        // Process files when uploaded via the standard file upload dialog.
        fileInput.addEventListener("change", function(){
            var files = fakeInput.files;
            handleFiles(file);
        });

        // Prevent default drag & drop events for the Drop Region.
        function preventDefault(e){
            e.preventDefault();
            e.stopPropagation();
        }
        dropRegion.addEventListener('dragenter', preventDefault, false);
        dropRegion.addEventListener('dragleave', preventDefault, false);
        dropRegion.addEventListener('dragover', preventDefault, false);
        dropRegion.addEventListener('drop', preventDefault, false);

        // Process files when uploaded via the drop event for the Drop Region
        function handleDrop(e){
            var data = e.dataTransfer;
            var files = data.files;

            handleFiles(files);
        }
        dropRegion.addEventListener('drop', handleDrop, false);

        // Function to handle files uploaded either by drag & drop or standard file upload.
        function handleFiles(files){
            for (var i = 0, len = files.length; i < len; i++){
                if (validateImage(files[i])){
                    previewAndUploadImage(files[i]);
                }
            }
        }

        // Make sure files uploaded meet required criteria.
        function validateImage(image){
            // TODO: FILES ALSO NEED TO BE VALIDATED ON THE SERVER SIDE TO ENSURE NO MALICOUS FILES ARE UPLOADED.
            // Check to make sure it is valid image file format.
            var validTypes = ['image/jpeg', 'image/png', 'image/gif'];
            if (validTypes.indexOf(image.type) == -1){
                alert("Invalid File Type");
                return false;
            }

            // Check to make sure image is below size limitations.
            var maxSizeInBytes = 10e6; // 10MB
            if (image.size > maxSizeInBytes){
                alert("File Too Large");
                return false;
            }
            return true;
        }
        

        function previewAndUploadImage(image) {
    
            // Container to show thumbnail of uploaded image.
            var imgView = document.createElement("div");
            imgView.className = "image-view";
            imagePreviewRegion.appendChild(imgView);
        
            // Create thumbnail of image.
            var img = document.createElement("img");
            imgView.appendChild(img);
        
            // Transparent filter above image thumbnail (used as progress bar).
            var overlay = document.createElement("div");
            overlay.className = "overlay";
            imgView.appendChild(overlay);
        
        
            // Read the image.
            var reader = new FileReader();
            reader.onload = function(e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL(image);
        
            // Save the image to the form data to be uploaded to the server.
            var formData = new FormData();
            formData.append('image', image);
            formData.append('stateName', activeState);
        
            // Upload form data containing image to the server.
            var ajax = new XMLHttpRequest();
            ajax.open("POST", {{ url_for('main.uploadPhotos')|tojson }}, true);
            ajax.onreadystatechange = function(e) {
                if (ajax.readyState === 4) {
                    if (ajax.status === 200) {
                        // done!
                        console.log("Photo Uploaded!");
                    } else {
                        // error!
                        console.log("Error with Photo Upload...");
                    }
                }
            }
        
            // Adjust the overlayed filter width as image is uploaded to the server (simulating progress bar).
            ajax.upload.onprogress = function(e) {
                // change progress
                // (reduce the width of overlay)
                var perc = (e.loaded / e.total * 100) || 100,
                    width = 100 - perc;
        
                overlay.style.width = width;
            }
            ajax.send(formData);
        }





        ///
        /// Request information about the state that was clicked on.
        ///
        function queryStateInfo(stateId){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    populateStateModal(this);
                }
            };
            xhttp.open("GET", {{ url_for('main.queryStateInfo')|tojson }} + "?" + "stateId=" + stateId, true);
            xhttp.responseType = 'json';
            xhttp.send();
        }

        ///
        /// Populate the information in the State modal based on response from server.
        ///
        function populateStateModal(xhttp){
            const stateJsonObj = xhttp.response;
            // Populate the state name anywhere it is posted in the modal
            activeState = stateJsonObj['StateName'];
            for (element of stateModal.getElementsByClassName("stateName")){
                element.innerHTML = activeState;
            }

            // Extract path data from US map SVG for the specific state of interest.
            let mapSvgObj= document.getElementById('svg-map-object').contentDocument;
            let stateSvgPath = mapSvgObj.getElementById(stateJsonObj['StateAbreviation']).getAttribute("d");

            // Change the SVG in the modal to match the state of interest.
            let stateSvg = document.getElementById("stateSvg");
            stateSvg.getElementsByTagName("path")[0].setAttribute("d", stateSvgPath);
            stateSvg.getElementsByTagName("path")[0].style.fill='green';

            // Adjust the state SVG image so that it is centered
            let bboxRect = stateSvg.getBBox();
            let updatedViewBox = bboxRect['x'] + " " + bboxRect['y'] + " " + bboxRect['width'] + " " + bboxRect['height'];
            stateSvg.setAttribute("viewBox", updatedViewBox);

            // Populate the state text and information in the modal.
            let randomText = "Here will be some fun information about the state shown above. The following text is sample text and serves no purpose at all. This manual is not an employment contract and does not guarnatee the sontinuation of any benefits or employment for any specific duration. Although we hop that your emplyoment relationship with us will be fulfilling and long-lasting. Either the employee or busines may terminate this relationship at any time.";
            randomText += randomText;
            randomText += randomText;
            if (stateJsonObj['StateVisited']) {
                stateModal.getElementsByClassName("modal-state-text")[0].innerHTML = "\n\n You have visited " + activeState + ".\n\n" + randomText;
            }
            else {
                stateModal.getElementsByClassName("modal-state-text")[0].innerHTML = "You have not visited " + activeState + ".\n\n" + randomText;
            }
            
        }

        ///
        /// When page is loaded, setup and create the SVG map.
        ///
        window.addEventListener("load", function() {
            // Load map for current user
            loadUsersMap();

            var svgObject = document.getElementById('svg-map-object').contentDocument;
            // Add event listener to send data to web server when a state in the SVG is clicked on.
            svgObject.addEventListener('click', function (event){
                if(event.target.hasAttribute('id')){
                    var stateId = event.target.getAttribute('id');
                    console.log(stateId);
                    
                    // First populate the data for the modal
                    queryStateInfo(stateId);
                    
                    // Show the modal
                    stateModal.style.display = "block";

                    // OLD CODE: THIS FUNCTIONALITY WILL BE REPLACED INSIDE MODAL
                    // Send stateId from click event to server to update database of states visited.
                    postMapUpdates(stateId);
                }
            })

        });

        ///
        /// Load and update the map for the current user's settings
        ///
        function loadUsersMap(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    recolorMap(this);
                }
            };
            xhttp.open("GET", {{ url_for('main.updateMap')|tojson }}, true);
            xhttp.send();
        }

        ///
        /// Recolor the SVG map per the states listed in the xhttp response
        ///
        function recolorMap(xhttp){
            var stateList = JSON.parse(xhttp.responseText)
            var svgObject = document.getElementById('svg-map-object').contentDocument;
            // Reset all of the states to their default grey color.
            for (item of svgObject.getElementsByTagName('path')){
                item.style.fill='#D3D3D3';
            }
            // Loop through states which this user has visited and color them blue.
            for (stateId of stateList){
                svgObject.getElementById(stateId).style.fill='blue';
            }
            
        }

        ///
        /// Sends a POST request to the server to add the state that was clicked on.
        ///
        function postMapUpdates(stateId){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log('we good');
                    loadUsersMap();
                }
            };
            xhttp.open("POST", {{ url_for('main.updateMap')|tojson }}, true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded;charset=UTF-8");
            xhttp.send("stateId="+stateId);
        }

    </script>
{% endblock %}